* {box-sizing: border-box;}

div.sticky {
    position: fixed;
    bottom: 30px;
    right: 10px;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    bottom: 0;
    right: 15px;
    border: 3px solide #f1f1f1;
    z-index: 9;
}